# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
.ds-preview/
.ds-preview3/
.ds-preview5/
.ds-preview6/
.ds-preview7/
.ds-preview8/
.ds-preview9/
.ds-preview10/
.ds-preview11/
.ds-preview12/
.ds-preview13/
.ds-preview14/
.ds-preview15/
.ds-preview16/
.ds-preview17/
.ds-preview18/
.ds-preview4/
.claude/
